# Core data processing
pandas
numpy

# Visualization
matplotlib
seaborn
wordcloud

# Text preprocessing
nltk
contractions

# Machine learning
scikit-learn
scipy

# Optional (for interactive dashboard)
streamlit
pyngrok
